/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html,
body,
* {
  cursor: none !important;
}

/* 可按需调整距离与时长 */
.drop-fade-enter-active,
.drop-fade-leave-active {
  transition: opacity 180ms ease-in-out, transform 180ms ease-in-out;
  will-change: opacity, transform;
}

.drop-fade-enter-from {
  opacity: 0;
  transform: translateY(-10px);
  /* 上方 */
}

.drop-fade-enter-to {
  opacity: 1;
  transform: translateY(0);
}

.drop-fade-leave-from {
  opacity: 1;
  transform: translateY(0);
}

.drop-fade-leave-to {
  opacity: 0;
  transform: translateY(-10px);
  /* 向上 */
}

@media (prefers-reduced-motion: reduce) {

  .drop-fade-enter-active,
  .drop-fade-leave-active {
    transition: opacity 150ms linear;
  }

  .drop-fade-enter-from,
  .drop-fade-leave-to {
    transform: none;
  }
}

/* 遮罩层容器 */
#app-loader {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: opacity 0.5s ease;
}

/* 你的 loader 动画 */
.loader {
  width: 80px;
  aspect-ratio: 1;
  border: 10px solid #0000;
  box-sizing: border-box;
  background:
    radial-gradient(farthest-side, #fff 98%, #0000) 0 0/20px 20px,
    radial-gradient(farthest-side, #fff 98%, #0000) 100% 0/20px 20px,
    radial-gradient(farthest-side, #fff 98%, #0000) 100% 100%/20px 20px,
    radial-gradient(farthest-side, #fff 98%, #0000) 0 100%/20px 20px,
    linear-gradient(#fff 0 0) 50%/40px 40px,
    #000;
  background-repeat: no-repeat;
  filter: blur(4px) contrast(10);
  animation: l12 0.8s infinite;
}

@keyframes l12 {
  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0, center
  }
}

#app-loader.fade-out {
  opacity: 0;
  pointer-events: none;
}

.loader-text {
  position: absolute;
  bottom: 36%;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #fff;
  height: 1.5em;
  overflow: hidden;
}

.loader-text span {
  display: block;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
  position: absolute;
  width: 100%;
}

.progress-bar-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 8px;
  background: #000000;
  overflow: hidden;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background: white;
  transition: width 0.2s ease;
}

.progress-percent {
  position: absolute;
  top: 24px;
  left: 0;
  color: #ffffff2f;
  font-size: 144px;
  font-weight: 900;
}

.kc-logo {
  position: absolute;
  top: 0px;
  right: -40px;
  height: 100vh;
  width: 100vw;
  background-image: url('/kc.svg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: right center;
  filter: invert(1);
  opacity: 0.2;
  pointer-events: none;
}

.glitch-text {
  --f-size: 15;
  --f-unit: 1vmin;
  --f: calc(var(--f-size) * var(--f-unit));
  --bg: #181717;

  animation: glitch-p 11s infinite alternate;
  position: relative;
  display: inline-block;
  margin: 10px;
}

.glitch-text::before,
.glitch-text::after {
  --top: 0;
  --left: 0;
  --v-height: 30%;

  --n-tenth: calc(var(--f-size) * .1 * var(--top));
  --t-cut: calc(var(--n-tenth) / var(--f-size) * 100%);
  --b-cut: calc(var(--t-cut) + var(--v-height));

  content: attr(data-text);
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  transform: translateX(calc(var(--left) * 100%));
  filter: drop-shadow(0 0 transparent);
  text-shadow: calc(var(--left) * -3em) 0 .02em lime,
    calc(var(--left) * -6em) 0 .02em #ff00e1;
  background-color: var(--bg);
  clip-path: polygon(0% var(--t-cut), 100% var(--t-cut), 100% var(--b-cut), 0% var(--b-cut));
  opacity: 0.8;
}

.glitch-text::before {
  animation: glitch-b 1.7s infinite alternate-reverse;
}

.glitch-text::after {
  animation: glitch-a 3.1s infinite alternate;
}

@keyframes glitch-p {
  17% {
    --scale: .87;
  }

  31% {
    --scale: 1.1;
  }

  37% {
    --scale: 1.3;
  }

  47% {
    --scale: .91;
  }

  87% {
    --scale: 1;
  }
}

@keyframes glitch-a {

  10%,
  30%,
  50%,
  70%,
  90% {
    --top: 0;
    --left: 0;
  }

  0% {
    --v-height: 15%;
  }

  20% {
    --left: .005;
  }

  40% {
    --left: .01;
    --v-height: 20%;
    --top: 3;
  }

  60% {
    --left: .03;
    --v-height: 25%;
    --top: 6;
  }

  80% {
    --left: .07;
    --v-height: 5%;
    --top: 8;
  }

  100% {
    --left: .083;
    --v-height: 30%;
    --top: 1;
  }
}

@keyframes glitch-b {

  10%,
  30%,
  50%,
  70%,
  90% {
    --top: 0;
    --left: 0;
  }

  0% {
    --v-height: 15%;
    --top: 10;
  }

  20% {
    --left: -.005;
  }

  40% {
    --left: -.01;
    --v-height: 17%;
    --top: 3;
  }

  60% {
    --left: -.03;
    --v-height: 35%;
    --top: 6;
  }

  80% {
    --left: -.07;
    --v-height: 5%;
    --top: 8;
  }

  100% {
    --left: -.083;
    --v-height: 30%;
    --top: 1;
  }
}

:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: white;

  --vp-home-hero-image-background-image: white;
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}